.frame {
  color: var(--textSecondaryColor);
  margin-bottom: 1.75rem;
  margin-top: 1rem;
}

.frame p {
  line-height: 1.4;
}

.frame p:not(:first-child) {
  margin-top: 0.33rem;
}

.frame mark {
  font-weight: 600;
}

.frame span {
  color: var(--theme);
}

.warning {
  color: var(--wp-white);
}
