.frame {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.25rem;
}

.frame > * {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.frame a {
  display: block;
}

.frame a:hover {
  text-decoration: none;
}

.withInner {
  padding-right: var(--innerBlockHorizontalPadding);
  padding-left: var(--innerBlockHorizontalPadding);
}
