.frame:not(:last-child) {
  margin-bottom: var(--lineGap);
}

.titleHolder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.list {
  padding-left: 2rem;
}

.titleCheckboxLine {
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .titleHolder {
    display: block;
  }

  .titleCheckboxLine {
    margin-top: 0.5rem;
  }
}
