.frame {
  position: relative;
  z-index: 10;
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

.triggerIcon {
  fill: var(--textColor);
  width: 18px;
  height: 18px;
  transition: all 0.2s;
}

.trigger:hover .triggerIcon {
  fill: var(--theme);
}

.list {
  position: absolute;
  top: 100%;
  right: 0;
}

.listContent {
  position: relative;
  z-index: 2;
  width: 260px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 4px;
}

.item:not(:first-child) {
  border-top: 1px solid var(--lightGray);
}

.link {
  display: flex;
  align-items: center;
  min-height: 34px;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-right: 15px;
  font-size: 15px;
  color: var(--textColor);
  transition: all 0.2s;
  cursor: pointer;
}

.icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: var(--midGray);
}

.link:hover {
  color: var(--theme);
}

.linkActive,
.linkActive:hover {
  color: var(--theme);
  text-decoration: none;
}

.linkActive {
  cursor: default;
  pointer-events: none;
}

.iconActive .icon,
.link:hover .icon {
  fill: var(--theme);
}

.linkName {
  display: block;
  width: calc(100% - 30px);
}

[data-theme='dark'] .listContent {
  background-color: var(--secondaryBackground);
}

[data-theme='dark'] .item:not(:first-child) {
  border-top: 1px solid var(--midGray);
}
