.frame {
  position: fixed;
  bottom: 1rem;
  right: var(--innerBlockHorizontalPadding);
  z-index: 50;
  width: 300px;
  background-color: var(--primaryBackground);
  box-shadow: var(--wp-shadow-100);
  border-radius: 5px;
}

.trigger {
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  font-weight: bold;
  color: var(--red);
  font-size: 1.125rem;
  cursor: pointer;
}

.trigger svg {
  top: -1px;
  width: 18px;
  height: 18px;
  fill: var(--red);
  margin-right: 10px;
}

.content {
  max-height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.15s;
}

.contentActive {
  max-height: 20000px;
  opacity: 1;
  transition: max-height 0.8s, opacity 0.2s;
}

.list {
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
}

.listHolder {
  counter-reset: errors;
}

.listItem {
  position: relative;
  padding-left: 15px;
  color: var(--midGray);
}

.listItem:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: counter(errors);
  counter-increment: errors;
  font-weight: bold;
  margin-right: 5px;
}

.listItem:not(:first-child) {
  margin-top: 0.5rem;
}
