.frame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: var(--fullHeight, 100vh);
  min-width: 320px;
  backdrop-filter: blur(3px);
}

.backdrop {
  position: absolute;
  background-color: var(--backdropBackground);
  opacity: 0.5;
}

.scroll {
  position: relative;
  z-index: 2;
  width: 100%;
  max-height: var(--fullHeight, 100vh);
  padding-left: var(--innerBlockHorizontalPadding);
  padding-right: var(--innerBlockHorizontalPadding);
  overflow-x: hidden;
  overflow-y: auto;
}
