.frame {
  --linkMinHeight: 2.75rem;
  margin-bottom: 1rem;
}

.group {
  margin-bottom: 3rem;
}

.groupTitle {
  color: var(--textSecondaryColor);
  margin-bottom: 0.5rem;
}

.link {
  display: flex;
  align-items: center;
  min-height: var(--linkMinHeight);
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--textColor);
}

.link:hover {
  text-decoration: none;
  color: var(--theme);
}

.linkActive {
  text-decoration: none;
  color: var(--theme);
  pointer-events: none;
}

.link .counter {

}
