.frame {
  display: flex;
  padding-left: var(--innerBlockHorizontalPadding);
  padding-right: var(--innerBlockHorizontalPadding);
  padding-top: 1rem;
  border-bottom: 1px solid var(--borderColor);
  overflow-y: hidden;
  overflow-x: auto;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  height: 2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: var(--textColor);
  border-top: 1px solid var(--lightGray);
  border-right: 1px solid var(--lightGray);
  border-left: 1px solid var(--lightGray);
  border-radius: 4px 4px 0 0;
  background-color: rgba(255, 255, 255, 0.35);
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;
}

.link:hover {
  background-color: var(--primaryBackground);
  text-decoration: none;
}

.item:not(:first-child) {
  margin-left: 0.5rem;
}

.active {
  background-color: var(--primaryBackground);
  border-color: var(--borderColor);
  box-shadow: 0 -3px 7px rgba(0, 0, 0, 0.2);
  cursor: default;
  pointer-events: none;
}

.active:before {
  position: absolute;
  content: '';
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--wp-white);
}
