.frame {
  --buttonsGap: 1rem;
  --textMaxWidth: calc(var(--buttonsGap) + (var(--buttonMinWidth) * 2));

  margin-bottom: 5rem;
}

.frame .title {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}

.text {
  max-width: var(--textMaxWidth);
  margin-bottom: 3rem;
}

.subtitle {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.text p {
  color: var(--textSecondaryColor);
  line-height: 1.4;
}

.btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--buttonsGap);
  grid-row-gap: var(--buttonsGap);
  max-width: var(--textMaxWidth);
}
