.frame {
  position: relative;
}

.normalWidth {
  width: var(--buttonMinWidth);
}

.shorterWidth {
  width: var(--buttonMinWidthSmall);
}

.input {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  font-family: var(--font);
  color: var(--inputTextColor);
  text-align: center;
  border: 1px solid var(--inputBorder);
  background-color: var(--inputBackground);
  outline: none;
  box-shadow: 0 0 0 transparent;
  border-radius: var(--borderRadius);
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.normal {
  height: var(--formInputHeight);
  padding-left: var(--formInputHeight);
  padding-right: var(--formInputHeight);
}

.small {
  height: var(--formInputHeightSmall);
  padding-left: var(--formInputHeightSmall);
  padding-right: var(--formInputHeightSmall);
}

.error {
  border: 1px solid var(--wp-error);
}

.input:disabled {
  background-color: rgba(var(--inputBackground), 0.6);
  cursor: default;
}

.input:read-only {
  cursor: default;
}

.butn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: var(--formInputHeight);
  border: none;
  background: none;
  height: 100%;
  outline: none;
  cursor: pointer;
}

.butnPlus {
  left: auto;
  right: 0;
}

.butn svg {
  width: 0.75rem;
  height: 0.75rem;
  fill: var(--textColor);
}
