.footer {
  position: relative;
  z-index: 100;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  background-color: var(--primaryBackground);
  box-shadow: var(--wp-shadow-100);
}

.footer a {
  color: var(--textColor);
}

.inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  font-size: 0.875em;
  color: var(--textSecondaryColor);
}

@media only screen and (max-width: 1024px) {
  .footer {
    padding-bottom: calc(var(--mobileNavHeight) + 2rem);
  }
}
