.butn {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
  color: var(--textColor);
  font-family: var(--font);
  transition: all 0.2s;
  margin: 0;
  min-width: var(--buttonMinWidth);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: var(--borderRadius);
  text-decoration: none;
  box-shadow: var(--buttonShadow);
}

.butn:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.butn.short {
  min-width: auto;
}

.icon {
  position: relative;
  top: 1px;
  flex-shrink: 0;
  display: block;
  margin-right: 5px;
}

.iconNoGap {
  margin: 0;
}

.noChildren {
  padding-left: 0;
  padding-right: 0;
}

.small {
  min-width: auto;
  height: 2rem;
  border-width: 1px;
  font-size: 0.875rem;
  border-radius: var(--borderRadius);
}

.small .icon {
  top: 0;
  width: 0.875rem;
  height: 0.875rem;
}

.circle {
  min-width: auto;
  border-radius: 50%;
  padding-left: 0;
  padding-right: 0;
}

.circle .icon {
  margin: 0;
}

.circle.small {
  width: 2rem;
}

.normal {
  height: var(--formInputHeight);
}

.normal .icon {
  width: 1.25rem;
  height: 1.25rem;
}

.circle.normal {
  width: 3.5rem;
}

.primary {
  color: var(--wp-white);
  border: 2px solid var(--theme);
  background-color: var(--theme);
}

.primary .icon {
  fill: var(--wp-white);
}

.primary:hover .icon {
  fill: var(--theme);
}

.secondary {
  color: var(--theme);
  background-color: var(--secondaryButtonBackground);
}

.secondary .icon {
  fill: var(--theme);
}

.gray {
  color: var(--wp-mid-gray-100);
  background-color: var(--wp-light-gray-200);
}

[data-theme='light'] .gray {
  color: var(--wp-mid-gray-100);
  background-color: var(--wp-light-gray-200);
}

[data-theme='dark'] .gray {
  color: var(--wp-light-gray-200);
  background-color: var(--wp-dark-gray-100);
}

[data-theme='light'] .gray .icon {
  fill: var(--wp-mid-gray-100);
}

[data-theme='dark'] .gray .icon {
  fill: var(--wp-light-gray-200);
}

.butn:hover {
  box-shadow: 0 5px 20px rgba(var(--themeRGB), 0.6);
}

@media only screen and (max-width: 1024px) {
  .circle.normal {
    width: 3rem;
  }

  .circle.small {
    height: 2rem;
    width: 2rem;
  }
}
