.butn {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
  color: var(--theme);
  font-family: var(--font);
  transition: all 0.2s;
  margin: 0;
  min-width: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
}

.butn:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
