.frame {
  display: grid;
  grid-template-columns: 345px 1fr;
  grid-gap: var(--lineGap-200);
  height: 500px;
}

.scroller {
  overflow-y: auto;
  overflow-x: hidden;
}

.list {

}

.listItem {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: var(--lineGap-150);
  background-color: var(--secondaryBackground);
  border-radius: var(--borderRadius);
  box-shadow: var(--buttonShadow);
  overflow: hidden;
  cursor: pointer;
}

.listItemImage {
  position: relative;
}

.listItemImage img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.listItemContent {
  padding-top: var(--lineGap-100);
  padding-right: var(--lineGap-150);
  padding-bottom: var(--lineGap-100);
  padding-left: var(--lineGap-150);
}

.listItemName {
  margin-bottom: 0.75rem;
  font-weight: 700;
}

.listItemAddress {
  margin-bottom: 0.75rem;
}

.listItemBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listItemCounter {
  color: var(--textSecondaryColor);
}

.map {
  position: relative;
}

.mapContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
}

.infoName {
  margin-bottom: var(--lineGap-50);
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--black);
}

.infoAddress {
  font-size: 1rem;
  color: var(--black);
}
