.frame {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.frame > div {
  flex-shrink: 0;
  width: calc(50% - 10px);
}

.frame > div[class*='wide'] {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .frame > div {
    width: 100%;
  }
}

.alignTop {
  align-items: flex-start;
}
