.frame {
  --framePadding: 1.5rem;
  --textLineGap: 0.5rem;

  width: 25rem;
  background-color: var(--primaryBackground);
  border-radius: var(--borderRadius);
  box-shadow: var(--wp-shadow-100);
  overflow: hidden;
}

[data-theme='dark'] .frame {
  background-color: var(--secondaryBackground);
}

.frameTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--framePadding);
  padding-right: var(--framePadding);
  padding-bottom: var(--framePadding);
  padding-left: var(--framePadding);
}

.frameMiddle {
  max-height: 30rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.frameBottom {
  padding-top: var(--framePadding);
  padding-right: var(--framePadding);
  padding-bottom: var(--framePadding);
  padding-left: var(--framePadding);
  background-color: var(--primaryBackground);
  border-top: 1px solid var(--borderColor);
}

[data-theme='dark'] .frameBottom {
  background-color: var(--wp-dark-gray-100);
  border-color: var(--wp-dark-gray-100);
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
}

.title span {
  font-weight: 400;
  color: var(--textSecondaryColor);
}

.reset {
  cursor: pointer;
  color: var(--theme);
}

.reset:hover {
  text-decoration: underline;
}

.product {
  position: relative;
  display: grid;
  grid-template-columns: 88px 1fr;
  padding-top: var(--framePadding);
  padding-bottom: var(--framePadding);
  padding-right: 0.25rem;
}

.productImage {
  position: relative;
  min-height: 7rem;
}

.productImageHolder {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 100%;
}

.productContent {
  position: relative;
}

.productName {
  padding-right: var(--controlButtonHeightSmall);
  margin-bottom: var(--textLineGap);
  font-size: 1.125rem;
  font-weight: 700;
}

.productFeatures {
  margin-bottom: var(--textLineGap);
  color: var(--textSecondaryColor);
  font-size: 0.875rem;
}

.productPrice {
  margin-bottom: var(--textLineGap);
}

.frame .productPrice [data-price-value] {
  font-size: 1.5rem;
}

.shopless {
  color: var(--theme);
  font-size: 0.875rem;
}

.shop {
  margin-bottom: var(--textLineGap);
  font-weight: 600;
}

.shop span {
  color: var(--textSecondaryColor);
  font-weight: 400;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.product .amountInput {
  background-color: var(--secondaryBackground);
}

.product .productRemove {
  position: absolute;
  top: calc((var(--framePadding) / 2) * -1);
  right: 0;
  z-index: 5;
}

.productButns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.totals {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: var(--framePadding);
}

.totalsTitle {
  font-size: 1.5rem;
  color: var(--textSecondaryColor);
}

.totalsPrice {
  font-size: 0.875rem;
  color: var(--textSecondaryColor);
}

.totalsPrice [data-price-value] {
  font-size: 1.5rem;
  color: var(--textColor);
  font-weight: 700;
}

.frame .totalsButton {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .frame {
    position: fixed;
    bottom: var(--mobileNavHeight);
    left: 0;
    right: 0;
    width: 100%;
    border-radius: var(--radius-1-2);
    background-color: var(--primaryBackground);
    box-shadow: var(--wp-shadow-top-100);
  }

  [data-theme='dark'] .frame {
    background-color: var(--wp-dark-gray-100);
  }

  [data-theme='dark'] .product .amountInput {
    background-color: var(--wp-dark-gray-100);
  }

  .frameBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .totals {
    margin-bottom: 0;
  }

  .totalsTitle {
    margin-right: 0.5rem;
  }

  .frame .totalsButton {
    width: auto;
    min-width: 10rem;
  }
}
