.header {
  position: relative;
  z-index: 130;
  background-color: var(--primaryBackground);

  --logo-widht: 10rem;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.middleLogo {
  flex-shrink: 0;
  width: var(--logo-widht);
}

.middleLogo img {
  width: 100%;
  height: auto;
}

.middleSide {
  display: inline-flex;
  flex-shrink: 0;
  min-height: 1rem;
  width: calc((100% - (var(--logo-widht) + 2rem)) / 2);
}

.middleSide:first-child {
  justify-content: flex-start;
}

.middleSide:last-child {
  justify-content: flex-end;
}

.middleLink[data-reach-menu-button],
.middleLink {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 3rem;
  color: var(--textSecondaryColor);
  cursor: pointer;
  transition: all 0.2s;
}

.middleLinkCart,
.middleLink:not(:first-child) {
  margin-left: 0.6rem;
  padding-left: 0.6rem;
}

.middleLink:not(:last-child) {
  margin-right: 0.6rem;
  padding-right: 0.6rem;
}

.middleLink[data-reach-menu-button]:hover,
.middleLinkActive,
.middleLink:hover {
  color: var(--theme);
  text-decoration: none;
}

.middleLinkIconHolder {
  position: relative;
}

.middleLinkIconHolder:not(.middleLinkIconHolderNoLabel){
  margin-right: 0.875rem;
}

.middleLinkIconHolderNoLabel {

}

.middleLinkIconHolder svg {
  fill: currentColor;
}

.middleLinkBurger {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: auto;
}

.middleLinkBurgerIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.middleLinkSearchIcon,
.middleLinkUserIcon,
.middleLinkCompareIcon,
.middleLinkHeartIcon,
.middleLinkShopsIcon,
.middleLinkCartIcon {
  width: 1.125rem;
  height: 1.125rem;
}

.mobileNav {
  position: fixed;
  z-index: 200;
  bottom: 0;
  right: 0;
  left: 0;
}

.mobileNavInner {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--mobileNavHeight);
  padding-top: 0;
  padding-bottom: 2rem;
  background-color: var(--secondaryBackground);
  box-shadow: var(--wp-shadow-100);
}

.mobileNavRight {
  display: flex;
  align-items: center;
}

.burgerDropdown {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: calc(var(--fullHeight, 100vh) - var(--mobileNavHeight));
  /*height: 100vh;*/
  background-color: var(--secondaryBackground);
  padding-top: 1rem;
  padding-bottom: 2rem;
  overflow-y: auto;
}

.burgerDropdownInner {
  padding-bottom: var(--mobileNavHeight);
}

.burgerDropdownTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.burgerDropdownListItem {
  position: relative;
}

.burgerDropdownListItemLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: var(--minLinkHeight);
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--textColor);
  flex-grow: 1;
}

.burgerDropdownListItemTrigger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: var(--minLinkHeight);
  width: var(--minLinkHeight);
  flex-shrink: 0;
  color: var(--textColor);
}

.burgerDropdownListItemTrigger svg {
  width: 1.25rem;
  height: 1.25rem;
}

.burgerDropdownListItemGroup {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.burgerDropdownListItemGroupTitle {
  margin-bottom: 0.5rem;
  color: var(--textSecondaryColor);
}

.burgerDropdownListItemGroupLink {
  display: flex;
  align-items: center;
  height: 2.5rem;
  color: var(--textColor);
}

.burgerDropdownListItemGroupLinkCurrent,
.burgerDropdownListItemLinkCurrent {
  color: var(--theme);
}


.userDropdownTop {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: var(--reachMenuItemHorizontalPadding);
  padding-right: var(--reachMenuItemHorizontalPadding);
}

.userDropdownName {
  font-weight: 600;
  font-size: 1.125rem;
}

.userDropdownListItem {
  border-top: 1px solid var(--lightGray);
}

[data-theme='dark'] .userDropdownListItem {
  border-top: 1px solid var(--midGray);
}

.userDropdownListLink {
  display: flex;
  align-items: center;
  min-height: var(--reachMenuItemMinimalHeight);
  padding-top: var(--reachMenuItemVerticalPadding);
  padding-left: var(--reachMenuItemHorizontalPadding);
  padding-bottom: var(--reachMenuItemVerticalPadding);
  padding-right: var(--reachMenuItemHorizontalPadding);
  font-size: 1rem;
  color: var(--textColor);
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
}

.userDropdownListLink:hover {
  color: var(--theme);
  text-decoration: none;
}

.headerTop {
  position: relative;
  z-index: 10;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 1025px) {
  .mobileNav {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    box-shadow: var(--wp-shadow-100);
  }

  .middle {
    justify-content: center;
    padding-top: 1.75rem;
    padding-bottom: 1.5rem;
  }

  .middleSide,
  .headerTop {
    display: none;
  }

  .middleLinkCart,
  .middleLink:not(:first-child) {
    margin-left: 0.2rem;
  }

  .middleLink:not(:last-child) {
    margin-right: 0.2rem;
  }
}
