.frame {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 2rem;
}

.text {
  display: flex;
  align-items: baseline;
}

.right {
  margin-left: auto;
}

.subtitle {
  font-size: 0.5em;
  color: var(--textSecondaryColor);
  margin-left: 1rem;
}

@media only screen and (max-width: 1024px) {
  .frame {
    display: block;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 768px) {
  .right {
    margin-top: 0.75rem;
    margin-left: 0;
  }
}
