.frame:not(:last-child) {
  margin-bottom: var(--lineGap-200);
}

.titleHolder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
}

.list {
  padding-left: 2rem;
}

.titleCheckboxLine {
  white-space: nowrap;
}

.attribute {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--borderColor);
}

.attribute:first-child {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--borderColor);
}

@media only screen and (max-width: 768px) {
  .titleHolder {
    display: block;
  }

  .titleCheckboxLine {
    margin-top: 0.5rem;
  }
}
