.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding-top: 3rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  background-color: var(--wp-white);
  color: var(--wp-error);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .frame {
    background-color: var(--wp-dark-gray-300);
  }
}
