.holder {
  position: relative;
}

.frame {
  display: block;
  position: relative;
  height: 4rem;
  width: 100%;
  border-radius: var(--borderRadius);
  background-color: var(--inputBackground);
  color: var(--inputTextColor);
  border: 1px solid var(--borderColor);
  overflow: hidden;
  outline: none;
}

.frameText {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  width: 100%;
  height: 100%;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.frameTextDisabled {
  opacity: var(--inputDisabledOpacity);
  cursor: no-drop;
}

.inputLine {
  width: 100%;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
}

.prompt {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  backdrop-filter: blur(7px);
  border-radius: var(--borderRadius);
}

.promptTitle {
  font-weight: 500;
  margin-bottom: 1rem;
}

[data-theme='dark'] .promptTitle {
  text-shadow: 0 2px 5px var(--black);
}

.promptButtons {
  display: flex;
  align-items: center;
}

.promptButtons [class*='butn']:not(:first-child) {
  margin-left: 1rem;
}

.previewList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.75rem;
}

.previewListItem {
  margin-bottom: 1rem;
}

.previewListItem:not(:first-child) {
  margin-left: 1rem;
}

.preview {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  width: 80px;
  height: 80px;
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  background-color: var(--wp-white);
  overflow: hidden;
}

.preview:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.preview > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.preview img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.preview .previewRemove {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

