.frame {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 220px;
  z-index: 9999;
  width: calc(100vw - 220px);
  height: var(--fullHeight, 100vh);
  background-color: rgba(50, 50, 50, 0.3);
}

.transparent {
  background-color: rgba(50, 50, 50, 0);
}

.wide {
  left: 0;
  width: 100vw;
}

.nested {
  position: relative;
  left: 0;
  height: 100px;
  width: 100%;
  background: none;
}

.absolute {
  position: absolute;
  left: 0;
  top: 0;
  height: 100px;
  width: 100%;
}

.circular {
  animation: rotate 1.5s linear infinite;
  height: 100px;
  position: relative;
  width: 100px;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: var(--theme);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@keyframes color {
  100%, 0% {
    stroke: var(--theme);
  }
  40% {
    stroke: var(--theme);
  }
  66% {
    stroke: var(--theme);
  }
  80%, 90% {
    stroke: var(--theme);
  }
}

@media only screen and (max-width: 1024px) {
  .frame {
    left: 0;
    bottom: 40px;
    height: calc(var(--fullHeight, 100vh) - 76px);
    width: 100vw;
  }
}
