.frame:not(.frameActive) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  bottom: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.frameActive {}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 320px;
  z-index: 140;
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inner {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.backdrop {
  position: absolute;
  content: '';
  top: 0;
  right: var(--innerBlockHorizontalPadding);
  display: block;
  width: calc(100% - (var(--burger-dropdown-width) + (var(--innerBlockHorizontalPadding))* 2));
  height: 100%;
}

.dropdown {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  width: 100%;
  max-height: 100%;
  max-width: var(--burger-dropdown-width);
  background-color: var(--primaryBackground);
  box-shadow: var(--wp-shadow-right-100);
}

.dropdown:before {
  position: absolute;
  content: '';
  top: 0;
  right: 100%;
  display: block;
  width: 50vw;
  height: 100%;
  background-color: var(--primaryBackground);
}

.dropdownScroll{
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdownContent {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  padding-right: var(--innerBlockHorizontalPadding);
  padding-left: var(--innerBlockHorizontalPadding);
}

.dropdownGroup {
  margin-bottom: 1.5rem;
}

.dropdownGroupTitle {
  color: var(--textSecondaryColor);
  margin-bottom: 1rem;
}

.dropdownGroupLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 3rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--textColor);
  cursor: pointer;
  transition: color 0.2s;
}

.dropdownGroupLink > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 1rem);
}

.dropdownGroupLinkCurrent {
  color: var(--theme);
}

.dropdownGroupLinkAccent {
  color: var(--theme);
}

.dropdownGroupLink:hover {
  text-decoration: none;
  color: var(--theme);
}

.dropdownGroupLinkBig {
  font-size: 1.5rem;
}

.dropdownCatalogueTitle {
  display: flex;
  align-items: center;
  min-height: 3rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.dropdownCatalogueTitleName {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdownCatalogueTrigger {
  width: var(--burger-dropdown-side-gap);
  cursor: pointer;
}

.dropdownCatalogueTrigger svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--textSecondaryColor);
}

.dropdownCatalogueClose {
  display: flex;
  justify-content: flex-end;
  width: var(--burger-dropdown-side-gap);
  cursor: pointer;
}

.dropdownCatalogueClose svg {
  width: 1.125rem;
  height: 1.125rem;
  fill: var(--textSecondaryColor);
}

.dropdownCatalogueClose:hover svg,
.dropdownCatalogueTrigger:hover svg {
  fill: var(--theme);
}

.dropdownCatalogueContent {
  padding-left: var(--burger-dropdown-side-gap);
}

.chevronRight {
  width: 0.75rem;
  height: 0.75rem;
}

@media only screen and (max-width: 1024px) {
  .dropdownContent {
    padding-top: 1.75rem;
    padding-bottom: 6.5rem;
  }

  .frame {
    position: fixed;
    height: var(--fullHeight, 100vh);
  }
}
