.catalogue {
  margin-bottom: 3rem;
}

.catalogueContent {
  display: grid;
  grid-template-columns: var(--catalogue-filter-width) 1fr;
  grid-column-gap: var(--catalogueGridGap);
}

.list {
  display: grid;
  flex-grow: 1;
  grid-column-gap: var(--catalogueGridGap);
  grid-row-gap: var(--catalogueGridGap);
  padding-top: 2rem;
}

.listRows {
  grid-template-columns: 1fr;
}

.listColumns {
  grid-template-columns: repeat(2, 1fr);
}

.catalogue .list[class*='infinite-scroll-component'] {
  overflow: unset !important;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: var(--catalogueVieButtonSize);
  margin-bottom: 1rem;
}

.controlsMobile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

.controlsMobileButn {
  min-width: 0;
  width: 100%;
}

.listColumns .catalogueSpinner {
  grid-column-start: 1;
  grid-column-end: 3;
}

.viewControls {
  display: flex;
}

.viewControlsItem {
  height: var(--catalogueVieButtonSize);
  width: var(--catalogueVieButtonSize);
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  color: var(--wp-mid-gray-100);
  cursor: pointer;
}

[data-theme='light'] .viewControlsItem {
  color: var(--wp-light-gray-100);
}

[data-theme='dark'] .viewControlsItem {
  color: var(--wp-mid-gray-100);
}

.viewControlsItemActive {
  color: var(--wp-light-gray-100);
}

[data-theme='light'] .viewControlsItemActive {
  color: var(--wp-mid-gray-100);
}

[data-theme='dark'] .viewControlsItemActive {
  color: var(--wp-light-gray-100);
}

.viewControlsItem:not(:first-child) {
  margin-left: 1rem;
}

.viewControlsItem svg {
  height: var(--catalogueVieButtonSize);
  width: var(--catalogueVieButtonSize);
  fill: currentColor;
  transition: color 0.2s;
}

@media only screen and (max-width: 1024px) {
  .catalogue {
    margin-top: 3rem;
  }

  .catalogueContent {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 640px) {
  .listColumns {
    grid-template-columns: 1fr;
  }

  .listColumns .catalogueSpinner {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
