.frame {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--formInputHeight);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: var(--inputPaddingHorizontal);
  padding-right: var(--inputPaddingHorizontal);
  margin: 0;
  font-size: 1rem;
  color: var(--inputTextColor);
  border: 1px solid var(--inputBorder);
  background-color: var(--inputBackground);
  outline: none;
  box-shadow: 0 0 0 transparent;
  border-radius: var(--borderRadius);
  transition: all 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
}
