.frame {
  position: relative;
  display: block;
  width: 100%;
  height: var(--formInputHeight);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: var(--inputPaddingHorizontal);
  padding-right: var(--inputPaddingHorizontal);
  margin: 0;
  font-family: var(--font);
  font-size: 1rem;
  color: var(--inputTextColor);
  border: 1px solid var(--inputBorder);
  background-color: var(--inputBackground);
  outline: none;
  box-shadow: 0 0 0 transparent;
  border-radius: var(--borderRadius);
  transition: all 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.frame[type='number']::-webkit-outer-spin-button,
.frame[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.withIcon {
  padding-left: calc((var(--inputPaddingHorizontal) * 2) + var(--inputIconSize));
}

.frame:focus {
  border-color: var(--inputBorderFocus);
}

.error {
  border: 1px solid var(--wp-error);
}

.frame:disabled {
  background-color: rgba(var(--inputBackground), 0.6);
  cursor: default;
}

.frame:read-only {
  cursor: default;
}

.icon {
  position: absolute;
  top: 50%;
  z-index: 2;
  left: var(--inputPaddingHorizontal);
  width: var(--inputIconSize);
  height: var(--inputIconSize);
  fill: var(--textSecondaryColor);
  transform: translateY(-50%);
}

.clearButton {
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 2;
  transform: translateY(-50%);
}
