.frame {
  margin-bottom: 1rem;
}

.link {
  display: inline-flex;
  align-items: center;
  color: var(--linkColor);
}

.link:hover {
  text-decoration: none;
  color: var(--theme);
}

.link .icon {
  position: relative;
  top: -1px;
}
