.frame {
  display: flex;
  flex-direction: column;
  min-height: var(--fullHeight, 100vh);
  color: var(--textColor);
  background-color: var(--primaryBackground);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main {
  flex-grow: 1;
}
