.textarea {
  position: relative;
  display: block;
  width: 100%;
  height: 122px;
  min-height: 122px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: var(--inputPaddingHorizontal);
  padding-right: var(--inputPaddingHorizontal);
  margin: 0;
  font-family: var(--font);
  color: var(--inputTextColor);
  border: 1px solid var(--borderColor);
  background-color: var(--inputBackground);
  line-height: normal;
  resize: vertical;
  outline: none;
  box-shadow: 0 0 0 transparent;
  border-radius: var(--borderRadius);
  transition: all 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.textarea:disabled {
  opacity: 0.8;
  cursor: default;
}

.textarea:focus {
  border-color: var(--inputBorderFocus);
}

.error {
  border: 1px solid var(--wp-error);
}
