.frame {
  --tabVerticalPadding: 0.25rem;
  --tabHorizontalPadding: 1rem;
  --tabAccentWidth: calc(100% - (var(--tabHorizontalPadding) * 2));
}

.list [data-reach-tab-list] {
  display: flex;
  justify-content: center;
  height: var(--tabsNavHeight);
  background-color: var(--secondaryBackground);
  border-radius: var(--borderRadius);
  box-shadow: var(--buttonShadow);
}

.list {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: var(--lineGap-300);
}

.list [data-reach-tab] {
  position: relative;
  padding-top: var(--tabVerticalPadding);
  padding-bottom: var(--tabVerticalPadding);
  padding-left: var(--tabHorizontalPadding);
  padding-right: var(--tabHorizontalPadding);
  text-transform: uppercase;
  outline: none;
  border: none;
  font-weight: 500;
}

.list [data-reach-tab] span {
  font-weight: 400;
  color: var(--textSecondaryColor);
}

.list [data-reach-tab]:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: var(--tabHorizontalPadding);
  display: block;
  width: var(--tabAccentWidth);
  height: 2px;
  opacity: 0;
  background-color: var(--theme);
  transition: opacity 0.2s;
}

.list [data-reach-tab][data-selected]:before {
  opacity: 1;
}

.frame [data-reach-tab-panel],
.frame [data-reach-tab-panels] {
  outline: none;
}

@media only screen and (max-width: 1024px) {
  .list [data-reach-tab-list] {
    justify-content: flex-start;
    background: none;
    box-shadow: 0 0 0 transparent;
  }

  .list [data-reach-tab] {
    padding-left: 0;
    padding-right: calc(var(--tabHorizontalPadding) * 2);
  }

  .list [data-reach-tab]:before {
    left: 0;
  }

  .list {
    background-color: var(--secondaryBackground);
    box-shadow: var(--buttonShadow);
  }
}
