.frame {
  position: relative;
}

.moreShopsButton {
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--lineGap-150);
}

.sort {
  display: flex;
  align-items: center;
}

.sortLabel {
  color: var(--textSecondaryColor);
  margin-right: 1.5rem;
}

@media only screen and (max-width: 680px) {
  .controls {
    display: block;
  }

  .sort {
    margin-bottom: 1rem;
  }
}
