.card {
  overflow: hidden;
  padding-bottom: 5rem;
}

.mainFrame {
  --mainColumnsGap: 1.5rem;
  --secondaryColumnsWidht: 180px;

  position: relative;
  display: grid;
  grid-template-columns: var(--secondaryColumnsWidht) 1fr;
  grid-column-gap: var(--mainColumnsGap);
  background-color: var(--secondaryBackground);
  border-radius: var(--radius-2-3);

  padding-top: 4rem;
  padding-bottom: 2rem;
  margin-bottom: 2.5rem;
}

.mainFrame:not(.mainFrameNoBackground):after {
  position: absolute;
  content: '';
  top: 0;
  right: 100%;
  display: block;
  width: 10%;
  height: 100%;
  background: linear-gradient(to left, var(--secondaryBackground), transparent);
}

.mainFrameNoBackground {
  background: none;
}

.mainFrameFeatures {
  position: relative;
  z-index: 2;
}

.mainFrameLowTop {
  padding-top: 0;
}

.mainData {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: var(--secondaryColumnsWidht) 1fr;
  grid-column-gap: var(--mainColumnsGap);
  padding-right: 2rem;
}

.image {
  position: relative;
}

.imageHolder {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  transform: translate3d(-50%, -50%, 0);
}

.imageHolder img {
  width: 100%;
  height: auto;
}

.mainDataContent {

}

.feature {
  margin-bottom: 1.5rem;
}

.featureTitle {
  margin-bottom: 0.5rem;
  color: var(--textSecondaryColor);
}

.featureItem {
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 1.125rem;
}

.cardNameHolder {
  margin-bottom: 1.5rem;
}

.cardName {
  font-size: 2.5rem;
  font-weight: 700;
}

.cardArt {
  margin-top: 0.25rem;
}

.cartLabel {
  flex-shrink: 0;
  margin-right: 1rem;
  color: var(--textSecondaryColor);
  white-space: nowrap;
}

.innerRatings {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.innerRatingsStars {
  margin-right: 1rem;
}

.innerRatingsFeedback {
  color: var(--textSecondaryColor);
}

.outerRatings {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.outerRatingsItem {
  display: flex;
  align-items: center;
  height: 1.8rem;
  font-size: 0.875rem;
  border-radius: 0.9rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: var(--outerRatingBackground);
  color: var(--outerRatingColor);
  text-transform: uppercase;
}

.outerRatingsItem:not(:last-child) {
  margin-right: 0.5rem;
}

.connections {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.connectionsGroup {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.connectionsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.connectionsGroupItem {
  display: flex;
  align-items: center;
  height: 2rem;
  border-radius: var(--borderRadius);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: var(--primaryBackground);
  border: 1px solid var(--primaryBackground);
  color: var(--outerRatingColor);
  text-transform: uppercase;
  transition: all 0.2s;
}

.connectionsGroupItem:not(.connectionsGroupItemCurrent):hover {
  text-decoration: none;
  color: var(--theme);
}

.connectionsGroupItem:not(:last-child) {
  margin-right: 0.5rem;
}

.connectionsGroupItemCurrent {
  border-color: var(--theme);
  cursor: default;
}

.mainDataBottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btnsItem {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--formInputHeight);
  width: var(--formInputHeight);
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
  transition: all 0.2s;
}

.btnsItem svg {
  fill: var(--wp-light-gray-100);
  width: 1.25rem;
  height: 1.25rem;
}

[data-theme='light'] .btnsItem svg {
  fill: var(--wp-light-gray-100);
}

[data-theme='dark'] .btnsItem svg {
  fill: var(--wp-mid-gray-100);
}

[data-theme='light'] .btnsItem:hover svg,
[data-theme='dark'] .btnsItem:hover svg,
.btnsItem:hover svg {
  fill: var(--theme);
}

.price {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5rem;
}

.priceValue span {
  font-size: 2.5rem;
  font-weight: 600;
}

.helpers {
  display: flex;
  align-items: center;
}

.addToCartForm {
  display: flex;
  align-items: center;
}

.addToCartFormInput {
  margin-right: 2rem;
}
