.title {
  flex-shrink: 0;
}

.titleHolder {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.title.small {
  margin-bottom: 1rem;
}

.title.normal {
  margin-bottom: 1.25rem;
}

.title.big {
  margin-bottom: 1.875rem;
}

.light {
  display: flex;
  height: 60px;
  align-items: center;
  background-color: var(--primaryBackground);
  box-shadow: var(--wp-shadow-100);
  padding-right: var(--innerBlockHorizontalPadding);
  padding-left: var(--innerBlockHorizontalPadding);
}

.low {
  margin-bottom: 0;
}

.text {
  font-weight: 700;
}

.big .text {
  font-size: 2.25rem;
}

.normal .text {
  font-size: 2rem;
}

.small .text {
  font-size: 1.5rem;
}

.text span {
  font-weight: 400;
  margin-left: 0.5rem;
  color: var(--textSecondaryColor);
}

.subtitle {
  color: var(--midGray);
  margin-top: 0.5rem;
}

@media only screen and (max-width: 1024px) {
  .light {
    height: 40px;
  }

  .big .text {
    font-size: 2rem;
  }

  .normal .text {
    font-size: 1.5rem;
  }

  .small .text {
    font-size: 1.25rem;
  }
}
