.marker {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: var(--radius-2-4);
  color: var(--wp-white);
  background-color: var(--theme);
}
