.frame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--inputHeightNormal);
  margin-bottom: var(--lineGap);
  cursor: pointer;
  transition: all 0.2s;
}

.frame:hover {
  color: var(--theme);
}

.inList {
  margin-bottom: 0.33rem;
}

.low {
  margin-bottom: 0;
}

.disabled {
  cursor: default;
  opacity: 0.8;
  color: var(--textColor);
}

.disabled:hover {
  color: var(--textColor);
}

.label {
  position: relative;
  display: block;
  width: calc(100% - 30px);
}
