.frame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--wp-white);
}

.inline {
  width: 80px;
  height: 80px;
  position: relative;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  background-color: var(--wp-white);
  overflow: hidden;
}

.frame:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.frame > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.frame img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.frame .remove {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2;
}

.inline .remove {
  top: 5px;
  right: 5px;
}
