.holder {
  position: relative;
}

.frame {
  position: relative;
  height: 4rem;
  width: 100%;
  border-radius: 4px;
  background-color: var(--inputBackground);
  color: var(--inputTextColor);
  border: 1px solid var(--borderColor);
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

.frameText {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
}

.inputLine {
  width: 100%;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
}

.prompt {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  backdrop-filter: blur(7px);
  border-radius: 4px;
}

.promptTitle {
  font-weight: bold;
  margin-bottom: 1rem;
}

[data-theme='dark'] .promptTitle {
  text-shadow: 0 2px 5px var(--black);
}

.promptButtons {
  display: flex;
  align-items: center;
}

.promptButtons [class*='butn']:not(:first-child) {
  margin-left: 1rem;
}
