.frame {
  display: flex;
  flex-direction: column;
  min-height: var(--fullHeight, 100vh);
  color: var(--textColor);
  background-color: var(--primaryBackground);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main {
  flex-grow: 1;
}

.seoTextHolder {
  margin-bottom: 5rem;
}

.seoText {
  position: relative;
  height: 10rem;
  overflow: hidden;
  line-height: 1.75;
}

.seoText p:not(:first-child) {
  margin-top: 0.75rem;
}

.seoText:after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  content: '';
  display: block;
  width: 100%;
  height: 75%;
  background: linear-gradient(to top, var(--primaryBackground), transparent);
  transition: all 0.2s;
}

.seoTextActive {
  height: auto;
}

.seoTextActive:after {
  opacity: 0;
}
