.frame {
  --iconSize: 0.875rem;

  color: var(--textColor);
  font-size: 1rem;
}

.frame [data-reach-menu-button] {
  text-transform: uppercase;
}

.frame [data-reach-menu-button] svg {
  width: var(--iconSize);
  height: var(--iconSize);
  margin-right: var(--iconSize);
  fill: currentColor;
}

.frame [data-reach-menu-button][aria-expanded="true"] svg {
  fill: var(--theme);
}
