.frame {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--borderColor);
}

.frame:first-child {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--borderColor);
}
