.assetPreviewsList {
  display: flex;
  flex-wrap: wrap;
}

.assetPreview {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.assetPreviewRemove {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
