.text {
  color: var(--textSecondaryColor);
  margin-bottom: 1.75rem;
  margin-top: 0.5rem;
}

.textLowTop {
  margin-top: 0;
}

.textLowBottom {
  margin-bottom: 0;
}

.text p {
  line-height: 1.8;
}

.text p:not(:first-child) {
  margin-top: 0.33rem;
}

.text mark {
  font-weight: 600;
}

.text span {
  color: var(--theme);
}

.warning {
  color: var(--wp-white);
}
