.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.25rem;
}

.buttons > a,
.buttons > button {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.buttons a {
  display: block;
}

.buttons a:hover {
  text-decoration: none;
}

.withInner {
  padding-right: var(--innerBlockHorizontalPadding);
  padding-left: var(--innerBlockHorizontalPadding);
}
