.frame {
  --stickyGap: 1.5rem;

  margin-bottom: 3rem;
}

.greeting {
  margin-bottom: 3rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.content {
  display: grid;
  grid-template-columns: var(--catalogue-filter-width) 1fr;
  grid-column-gap: var(--catalogueGridGap);
  margin-bottom: 3rem;
}

.aside {
  position: relative;
}

.asideNav {
  position: sticky;
  top: calc(var(--minLinkHeight) + var(--stickyGap));
  left: 0;
}

@media only screen and (max-width: 1024px) {
  .frame {
    margin-top: 3rem;
  }

  .content {
    grid-column-gap: 2rem;
    grid-template-columns: 2fr 5fr;
  }

  .asideNav {
    top: var(--stickyGap);
  }
}

@media only screen and (max-width: 680px) {
  .content {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }

  .greeting {
    margin-bottom: 2rem;
  }
}
