.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--lineGap-200);
  cursor: pointer;
}

.label:hover {
  color: var(--theme);
  transition: all 0.2s;
}

.labelText {
  position: relative;
  display: block;
  width: calc(100% - 30px);
}
