.frame {
  position: relative;
  z-index: 130;
  background-color: var(--primaryBackground);

  --logo-widht: 10rem;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.middleLogo {
  flex-shrink: 0;
  width: var(--logo-widht);
}

.middleLogo img {
  width: 100%;
  height: auto;
}

.middleSide {
  display: inline-flex;
  flex-shrink: 0;
  min-height: 1rem;
  width: calc((100% - (var(--logo-widht) + 2rem)) / 2);
}

.middleSide:first-child {
  justify-content: flex-start;
}

.middleSide:last-child {
  justify-content: flex-end;
}

.middleLink {
  display: flex;
  align-items: center;
  min-height: 3rem;
  color: var(--textSecondaryColor);
  cursor: pointer;
  transition: all 0.2s;
}

.middleLink:not(:first-child) {
  margin-left: 0.6rem;
  padding-left: 0.6rem;
}

.middleLink:not(:last-child) {
  margin-right: 0.6rem;
  padding-right: 0.6rem;
}

.middleLinkActive,
.middleLink:hover {
  color: var(--theme);
  text-decoration: none;
}

.middleLinkIconHolder {
  position: relative;
}

.middleLinkIconHolder:not(.middleLinkIconHolderNoLabel){
  margin-right: 0.875rem;
}

.middleLinkIconHolderNoLabel {

}

.middleLinkIconHolder svg {
  fill: currentColor;
}

.middleLinkBurger {
  font-weight: 600;
  text-transform: uppercase;
}

.middleLinkBurgerIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.middleLinkSearchIcon,
.middleLinkUserIcon,
.middleLinkCompareIcon,
.middleLinkHeartIcon,
.middleLinkShopsIcon,
.middleLinkCartIcon {
  width: 1.125rem;
  height: 1.125rem;
}

.mobileNav {
  position: fixed;
  z-index: 200;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--secondaryBackground);
  box-shadow: var(--wp-shadow-100);
}

.mobileNavInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--mobileNavHeight);
  padding-top: 0;
  padding-bottom: 2rem;
}

.mobileNavRight {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .frame {
    box-shadow: var(--wp-shadow-100);
  }

  .middle {
    justify-content: center;
    padding-top: 1.75rem;
    padding-bottom: 1.5rem;
  }

  .middleLink:not(:first-child) {
    margin-left: 0.2rem;
  }

  .middleLink:not(:last-child) {
    margin-right: 0.2rem;
  }
}
