.cell {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  height: 26px;
  padding-top: 3px;
  padding-right: 8px;
  padding-bottom: 3px;
  padding-left: 8px;
  text-align: left;
  border-bottom: 1px solid var(--borderColor);
  border-left: 1px solid var(--borderColor);
  outline: none;
}

.cell:first-child {
  padding-left: var(--innerBlockHorizontalPadding);
  border-left: none;
}

.cell:last-child {
  padding-right: var(--innerBlockHorizontalPadding);
}

.row {
  background-color: var(--primaryBackground);
  transition: all 0.2s;
}

.rowGap .cell {
  padding-bottom: 0;
  padding-top: 0;
  height: 15px;
}

.row:hover:not(.rowWarning):not(.rowGap) {
  background-color: var(--secondaryBackground);
}

.rowWarning {
  background-color: rgba(223, 0, 28, 0.25);
}

.sorter {
  cursor: pointer;
}

.sorter:after {
  display: inline-block;
  content: '';
  width: 0;
  height: 0;
  margin-left: 5px;
  margin-top: -1px;
  border-top: 5px solid var(--gray);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.headCell {
  position: relative;
  z-index: 20;
  height: 26px;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
  outline: none;
  vertical-align: middle;
}

.fixedCell {
  display: flex;
  height: 100%;
  align-items: center;
  min-height: 30px;
  padding-top: 10px;
  padding-right: 8px;
  padding-bottom: 10px;
  padding-left: 8px;
  border-bottom: 1px solid var(--borderColor);
  background-color: var(--secondaryBackground);
  transition: background-color 0.2s;
}

.headCell:not(:first-child) .fixedCell {
  border-left: 1px solid var(--borderColor);
}

.headCell:first-child .fixedCell {
  padding-left: var(--innerBlockHorizontalPadding);
}

.headCell:last-child .fixedCell {
  padding-right: var(--innerBlockHorizontalPadding);
}
