
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.butn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0;
  outline: none;
  color: var(--textColor);
}

.butn svg {
  width: 1rem;
  height: 1rem;
  margin: 0;
  fill: var(--theme);
}

.butn:hover {
  text-decoration: none;
  color: var(--theme);
}

.butn[aria-current] {
  color: var(--theme);
}

.butn[aria-disabled='true'] {
  pointer-events: none;
  cursor: default;
  opacity: var(--inputDisabledOpacity);
}

.butn[aria-disabled='true'] svg {
  fill: var(--midGray);
}

.prev,
.next {
  border: 1px solid var(--border-300);
  border-radius: var(--borderRadius);
}

.prev {
  margin-right: 1.5rem;
}

.next {
  margin-left: 1.5rem;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 18px;
}

.item:not(:first-child) {
  margin-left: 0.75rem;
}

@media only screen and (max-width: 480px) {
  .butn {
    width: 1.75rem;
    height: 1.75rem;
  }

  .item {
    width: 1.5rem;
    height: 1.5rem;
  }

  .item:not(:first-child) {
    margin-left: 0.5rem;
  }
}
