.frame {
  position: relative;
  display: flex;
  margin-bottom: 1.5rem;
}

.holder {
  display: flex;
  flex-grow: 1;
  background-color: var(--primaryBackground);
  border: 1px solid var(--lighterGray);
  border-radius: 15px;
}

.line {
  width: calc(100% - 30px);
}

.frame .input {
  height: 2rem;
  width: 100%;
  border: none;
  background: none;
  padding-left: 1rem;
  color: var(--textColor);
}

.frame .butn {
  width: 2rem;
  height: 2rem;
  padding-left: 0;
  padding-right: 0;
  border-radius: 1rem;
  border-color: transparent;
  background-color: transparent;
}

.butn svg {
  margin-right: 0;
  fill: var(--textColor);
}

[data-theme='dark'] .holder {
  border: 1px solid var(--midGray);
}

.reset {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}
