.frame {
  position: relative;
}

.moreShopsButton {
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--lineGap-150);
}

.controlsMobile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-bottom: 2rem;
}

.controlsMobileButn {
  min-width: 0;
  width: 100%;
}

@media only screen and (max-width: 680px) {
  .controlsMobile {
    grid-template-columns: 1fr;
  }
}
