.form {
  max-width: 320px;
  padding-top: 3rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.title {
  justify-content: center;
}

.error {
  margin-top: 1.5rem;
  font-weight: 700;
  color: var(--red);
}
