.frame {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 600px;
  padding-top: 2.5rem;
  padding-right: var(--innerBlockHorizontalPadding);
  padding-bottom: 2.5rem;
  padding-left: var(--innerBlockHorizontalPadding);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--modalFrameBackground);
  box-shadow: var(--shadow);
  border-radius: 4px;
}

.withInner {
  padding-right: 0;
  padding-left: 0;
}

.wide {
  max-width: 1320px;
}

.midWide {
  max-width: 980px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close svg {
  fill: var(--white);
}

.closeLeft,
.closeRight {
  position: absolute;
  top: 0;
  display: block;
  width: 100vw;
  height: 100%;
}

.closeLeft {
  right: 100%;
}

.closeRight {
  left: 100%;
}

.warning {
  background-color: var(--red);
  color: var(--white);
}
