.frame {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--innerBlockVerticalPadding);
  padding-bottom: var(--innerBlockVerticalPadding);
  padding-right: var(--innerBlockHorizontalPadding);
  padding-left: var(--innerBlockHorizontalPadding);
}

.lowTop {
  padding-top: 0;
}

.lowBottom {
  padding-bottom: 0;
}

.wide {
  max-width: 100%;
}
