.frame {
  margin-bottom: 1.25rem;
}

.label {
  margin-bottom: 0.75rem;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--textSecondaryColor);
}

.item {
  margin-top: 0.5rem;
}
