.frame {
  position: relative;
  margin-bottom: var(--lineGap);
}

.wide {
  width: 100%;
}

.low {
  margin-bottom: 0;
}

.holder {
  display: flex;
  align-items: center;
}

.content {
  flex-grow: 1;
}

.postfix {
  width: 20px;
  margin-left: 5px;
  flex-shrink: 0;
  text-align: right;
  font-weight: bold;
  font-size: 0.875rem;
}

.prefix {
  width: 20px;
  margin-right: 5px;
  flex-shrink: 0;
  font-weight: bold;
  font-size: 0.875rem;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--textSecondaryColor);
}

.label sup {
  vertical-align: middle;
  font-size: 1.25rem;
  line-height: 0.5em;
  color: var(--red);
  font-weight: bold;
  margin-left: 3px;
}

.labelPostfix {
  margin-left: 5px;
  font-size: 0.875rem;
  color: var(--textSecondaryColor);
}

.labelLink {
  margin-left: 5px;
}

@media only screen and (min-width: 769px) {
  .horizontal {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .horizontal .label {
    width: 220px;
    padding-top: 0.3rem;
    white-space: unset;
    text-overflow: unset;
    text-align: right;
  }

  .horizontal .holder {
    width: calc(100% - 235px);
  }
}
