.frame {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: var(--theme);
  cursor: pointer;
}

.frame svg {
  fill: currentColor;
  width: 1.35rem;
  height: 1.35rem;
}

.iconLeft {
  margin-right: 1rem;
}

.iconRight {
  margin-left: 1rem;
}
