.select {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: var(--formInputHeight);
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 15px;
  padding-left: var(--inputPaddingHorizontal);
  font-size: 1rem;
  color: var(--inputTextColor);
  outline: none;
  border: 1px solid var(--inputBorder);
  background-color: transparent;
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: all 0.2s;
  -webkit-appearance: none;
}

.select:disabled {
  opacity: 0.8;
  cursor: default;
}

.select:focus {
  border-color: var(--inputBorderFocus);
}

.error {
  border: 1px solid var(--wp-error);
}

.holder {
  position: relative;
  display: block;
  width: 100%;
  background-color: var(--inputBackground);
}

.holder svg {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  width: 12px;
  height: 12px;
  transform: translate3d(0, -5px, 0);
  fill: var(--inputBorderFocus);
}
