.select {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 15px;
  padding-left: var(--inputPaddingHorizontal);
  font-size: 1rem;
  color: var(--inputTextColor);
  outline: none;
  border: 1px solid var(--borderColor);
  background-color: var(--inputBackground);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-appearance: none;
}

.select:disabled {
  opacity: 0.8;
  cursor: default;
}

.error {
  border-color: var(--red);
}

.holder {
  display: block;
  position: relative;
  width: 100%;
}

.holder:before {
  position: absolute;
  right: 7px;
  top: 50%;
  z-index: 3;
  display: block;
  content: '';
  width: 0;
  height: 0;
  margin-left: 5px;
  border-top: 5px solid var(--gray);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: translateY(calc(50% - 3px));
}

[data-theme='dark'] .holder:before {
  border-top-color: var(--midGray);
}
