.warning {
  margin-bottom: 2rem;
  max-width: 980px;
}

.buttons {
  display: flex;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.config {
  margin-bottom: 2rem;
}

.configName {
  display: flex;
  align-items: flex-start;
  min-height: 1.3rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--textSecondaryColor);
}

.configDescription {
  display: inline-block;
  cursor: pointer;
  margin-left: 0.75rem;
}

.configDescription svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: currentColor;
}

.accordionContent {
  padding-left: 2rem;
  padding-top: var(--lineGap-200);
}

.listLabel {
  margin-bottom: 10px;
}

.languageInput {
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
}

.accordionIcon svg {
  width: 1rem;
  height: 1rem;
}

.accordionIcon.iconDone svg {
  fill: green;
}

.accordionIcon.iconEmpty svg {
  fill: var(--wp-dark-pink);
}

.inputsFrame {
  margin-bottom: var(--lineGap-200);
}

.inputHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputHolder:not(:first-child) {
  margin-top: var(--lineGap-200);
}

.input {
  width: 100%;
}

.inputMulti {
  width: calc(100% - 40px);
}

.inputControl {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 40px;
}

.assetLine {
  display: flex;
  align-items: flex-start;
}

.assetInfo {
  padding-left: 1rem;
}

.assetError {
  font-weight: 600;
  color: var(--red);
}

