.cart {
  margin-bottom: 3rem;
}

.cart .cartTitle {
  margin-bottom: 3.5rem;
}

.order {
  display: grid;
  grid-template-columns: 1fr var(--catalogue-filter-width);
  grid-column-gap: var(--catalogueGridGap);
  margin-bottom: 3rem;
}

.form {
  max-width: 47rem;
}

.aside {
  position: relative;
}

.group {
  margin-bottom: 3rem;
}

.groupTitle {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.groupTitleCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--controlButtonHeight);
  height: var(--controlButtonHeight);
  margin-right: 1.75rem;
  border-radius: 50%;
  background-color: var(--secondaryBackground);
  box-shadow: var(--wp-shadow-100);
}

.products {
  margin-bottom: 3rem;
}

/*Product*/
.productHolder {
  margin-bottom: 2rem;
}

.product {
  --productContentPaddingTop: 1.15rem;
  --productContentPaddingRight: 3rem;
  --productContentPaddingBottom: 1.5rem;

  padding-top: var(--productContentPaddingTop);
  padding-right: var(--productContentPaddingRight);
  padding-bottom: var(--productContentPaddingBottom);
  margin-bottom: 1rem;
  border-radius: var(--borderRadius);
  background-color: var(--secondaryBackground);
  box-shadow: var(--wp-shadow-100);
}

.productMainGrid {
  display: grid;
  grid-template-columns: 14rem 1fr;
}

.productContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
}

.productImage {
  position: relative;
  min-height: 6rem;
}

.productImageHolder {
  position: absolute;
  bottom: 0;
  left: 1rem;
  width: calc(100% - 2rem);
  height: 100%;
}

.productArt {
  color: var(--textSecondaryColor);
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
}

.productName {
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 700;
}

.shop {
  line-height: 1.8;
  font-weight: 500;
  font-size: 0.875rem;
}

.shop span {
  color: var(--textSecondaryColor);
  font-weight: 400;
}

.productTotals {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.productTotalsPrice {
  justify-content: flex-end;
  min-width: 0;
}

.productTotalsIcon {
  width: 0.5rem;
  height: 0.75rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  fill: var(--textColor);
}

.productTotalsAmount {
  font-size: 1.125rem;
  font-weight: 500;
}

.productTotalPrice {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: 1rem;
  color: var(--textSecondaryColor);
}

.productTotalPrice > span {
  margin-left: 0.5rem;
}

.emptyBtns {
  --buttonsGap: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--buttonsGap);
  grid-row-gap: var(--buttonsGap);
  max-width:  calc(var(--buttonsGap) + (var(--buttonMinWidth) * 2));
}

.emptyBtns .emptyBtnsItem {
  max-width: 100%;
}

@media only screen and (max-width: 1024px) {
  .cart {
    margin-top: 3rem;
  }

  .order {
    grid-column-gap: 2rem;
    grid-template-columns: 4fr 3fr;
  }
}

@media only screen and (max-width: 980px) {
  .order {
    grid-column-gap: 2rem;
    grid-template-columns: 1.5fr;
  }

  .form {
    max-width: 100%;
  }

  .product {
    --productContentPaddingTop: 0;
    --productContentPaddingRight: 0;
    --productContentPaddingBottom: 0;
    margin-bottom: 3.5rem;
    background-color: transparent;
    box-shadow: 0 0 transparent;
  }

  .productMainGrid {
    grid-template-columns: 7rem 1fr;
    grid-column-gap: 1rem;
  }

  .productImageHolder {
    left: 0.5rem;
    width: calc(100% - 1rem);
  }

  .productContent {
    grid-template-columns: 1fr;
  }

  .productTotalPrice,
  .productTotals {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
