.profile {
  display: grid;
  grid-template-columns: 1fr 20rem;
  grid-column-gap: 2rem;
}

.card {
  position: relative;
}

.group {
  margin-bottom: 5rem;
}

@media only screen and (max-width: 1024px) {
  .profile {
    grid-template-columns: 1fr;
  }

  .card {
    order: 1;
    margin-bottom: 5rem;
  }

  .form {
    order: 2;
  }
}
