.catalogue {
  margin-bottom: 3rem;
}

.catalogueContent {
  display: grid;
  grid-template-columns: var(--catalogue-filter-width) 1fr;
  grid-column-gap: var(--catalogueGridGap);
}

.list {
  display: grid;
  align-items: start;
  flex-grow: 1;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap:var(--catalogueGridGap);
  grid-row-gap: var(--catalogueGridGap);
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 480px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
