.product {
  --imageSize: 7rem;

  display: grid;
  grid-template-columns: var(--imageSize) 1fr;
  grid-column-gap: var(--lineGap-100);
  align-items: flex-start;
  margin-bottom: var(--lineGap-200);
}

.image {
  width: var(--imageSize);
  height: var(--imageSize);
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.name {
  font-size: 1.5rem;
  font-weight: 500;
}
