.frame {
  margin-bottom: 2.5rem;
}

.list {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listItem {
  display: inline-block;
  margin-right: 0.25rem;
}

.link {
  color: var(--textColor);
}

.link:hover {
  color: var(--textColor);
  text-decoration: none;
}

.link span {
  transition: all 0.2s;
}

.link:hover span {
  color: var(--theme);
}
