name: Deploy

on:
  workflow_dispatch:
    types: [ opened, deleted ]
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: >
            cd www/aroundgrill && git pull && yarn install && pm2 stop aroundgrill && yarn build && pm2 start aroundgrill
            && cd && cd www/winepoint && git pull && yarn install && pm2 stop wp && yarn build && pm2 start wp
            && cd && cd www/kolesabu && git pull && yarn install && pm2 stop kolesabu && yarn build && pm2 start kolesabu
            && cd && cd www/toysforjoys && git pull && yarn install && pm2 stop toysforjoys && yarn build && pm2 start toysforjoys
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USERNAME }}
          privateKey: ${{ secrets.PROD_PRIVATE_KEY }}
