.frame {
  position: relative;
  z-index: 70;
  background-color: var(--primaryBackground);
  box-shadow: var(--shadow);
}

.logo {
  display: block;
  height: 42px;
  width: 150px;
  margin-right: 20px;
  background-color: var(--midGray);
}

.inner {
  display: flex;
  align-items: center;
  height: 36px;
}

.top {
  background-color: var(--secondaryBackground);
}

.top a {
  color: var(--textColor);
}

.language {
  display: flex;
  text-transform: uppercase;
}

.languageItem {
  cursor: pointer;
}

.languageItem:hover {
  color: var(--theme);
}

.languageItem:not(:first-child) {
  margin-left: 0.5rem;
}

.languageItemActive {
  pointer-events: none;
  cursor: default;
  color: var(--theme);
}

.topNav {
  display: flex;
  align-items: center;
}

.topNavItem:not(:first-child) {
  margin-left: 15px;
}

.topNavItemIcon {
  cursor: pointer;
}

.topLink {
  cursor: pointer;
  color: var(--textColor);
}

.topLink:hover {
  text-decoration: underline;
}

.topRight {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: flex-end;
}

.frame .middle {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 1024px) {
  .topNav {
    display: none;
  }

  .topRight {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    height: 28px;
    width: 130px;
    margin-right: 10px;
  }

  .frame .middle {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
