.title {
  display: flex;
  align-items: center;
  min-height: 3rem;
  padding-top: 5px;
  padding-right: 0.7rem;
  padding-bottom: 5px;
  padding-left: 0.7rem;
  border-left: 3px solid var(--borderColor);
  background-color: var(--primaryBackground);
  box-shadow: var(--wp-shadow-100);
  transition: all 0.2s;
}

.title:hover {

}

.titleNoStyle {
  display: flex;
  align-items: center;
  padding-right: 5px;
  margin-bottom: 5px;
  transition: all 0.2s;
}

.titleRight {
  margin-left: auto;
  flex-shrink: 0;
}

.titleLeft,
.titleCheckbox {
  /*margin-right: 5px;*/
}

.trigger {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.2s;
}

.triggerDisabled {
  cursor: default;
}

.trigger:hover:not(.triggerDisabled) {
  color: var(--theme);
}

.triggerDisabled .arrow {
  display: none;
}

.arrow {
  position: relative;
  margin-left: 0.5rem;
}

.arrow svg {
  display: block;
  width: 1rem;
  height: 1rem;
  fill: var(--theme);
  transition: all 0.2s;
}

.arrowActive svg {
  transform: rotate(180deg);
}
